.top-img {
    max-width: 400px;
    align-self: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.img-container {
    align-self: center;
    align-content: center;
    text-align: center;
    align-items: center;
}